*.*
!.gitignore
!circle.yml
!pom.xml
!*.md
!*.java
!*.svg
!*.asl
!*.yaml
!*.properties

!package.json
!gulpfile.js

!src/main/webapp/**/*.htm*
!src/main/webapp/**/*.css
!src/main/webapp/**/*.js
!src/main/webapp/**/*.json
!src/main/webapp/**/*.png
!src/test/resources/**/*.mp3

!src/site/*.doxyfile
!src/site/*.htm*
!src/site/*.css
!src/site/*.xml
!src/site/*.graffle

!src/analysis/**/*.xml
!src/analysis/**/*.txt
!src/analysis/**/*.md

target/**
node_modules/**
src/main/webapp/org/lightjason/trafficsimulation/html/js/package.js
