.CodeMirror {
    font-size: 150%;
    min-height: 20em;
    height: auto;
}

#simulation-dashboard, #penalty-dashboard {
    min-height: 200px;
}        .CodeMirror {
             font-size: 150%;
             min-height: 20em;
             height: auto;
         }

#simulation-dashboard, #penalty-dashboard {
    min-height: 200px;
}
